@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   outline: none;
}

/*подключить цвета через импорт*/
$colorBackgroundBody: rgb(142, 6, 205);
$colorBackgroundFotter: rgba(0, 0, 0, 0.6);
$colorBackgroundBoards: rgba(7, 7, 7, 0.5);
$colorBackgroundManager: rgb(250, 250, 133);
$colorWhite: rgb(255, 255, 255);
$colorBlack: rgb(0, 0, 0);
$colorText: rgb(255, 255, 255);


html,
body {
   height: 100%;
   background-image: url('../media/bgmain.jpeg');
   background-repeat: no-repeat;
   background-position:center;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
}

.wrapper {
   min-height: 100%;
   margin-left: 150px;
   display: flex;
   flex-direction: column;
   @media (max-width: 767px) {
      width: 100%;
   }
}

.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

/*sidebar*/

.sidebar {
   position: fixed;
   width: 150px;
   height: 100vh;
   padding-top: 20px;
   background-color: $colorBackgroundFotter;
   @media (max-width: 767px) { 
      padding-top: 25px;
      height: 100%;
   }

   a{
      text-decoration: none;
      color:$colorText;
   }
   li{
      padding:30px 0 30px 40px;
      list-style-type: none;
   }

   &__title{
      display: block;
      color:$colorText;
      text-align: center;
      font-size: 22px;
      margin-bottom: 30px;
   }
   &__title1{
      display: block;
      color:red;
      text-align: center;
      font-size: 22px;
      margin-bottom: 30px;
      @media (max-width: 767px) {
         font-size: 26px;
         padding: 0 10px;
      } 
   }


   &__logo svg {
      width: 65px;
      height: 65px;
      margin:0 0 10px 40px;
   }

   &__add {
      display: block;
      padding:5px 10px;
      margin: 0 auto;
      background-color: $colorWhite;
      color: $colorBlack;
      border-radius: 8px;
      font-size: 16px;

      &:hover {
         cursor: pointer;
      }
   }
}

/*header*/

.header {
   padding-top: 20px;
   margin-bottom: 30px;

   &__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      border-radius: 10px;
   }
   &__title{
      font-size: 27px;
      line-height: 30px;
      margin-left: 20px;
      color: $colorText;
      @media (max-width: 1024px) {
         font-size: 22px;
         line-height: 25px;
      }
      @media (max-width: 767px) {
         font-size: 20px;
         line-height: 23px;
         margin-left: 0;
         text-align: center;
         padding: 0 10px;
      }
   }
   &__search {
      width: 60%;
      position: relative;
      @media (max-width: 1024px) {
         width: 40%;
      }
      @media (max-width: 767px) {
         width: 30%;
      }
      @media (max-width: 545px) {
         width: 40%;
      }

      @media (max-width: 1024px) {
         width: 50%;
      }

      &::before {
         position: absolute;
         display: block;
         content: url(../media/icon_search.svg);
         left: 13px;
         top: 10px;
         z-index: 1;
      }
   }
   &__input {
      width: 100%;
      cursor: pointer;
      padding: 10px 35px;
      border-radius: 10px;
      border: 1px solid $colorBlack;
      position: relative;
         
         &:focus {
            outline: auto;
         }
      }

   &__time {
      padding: 15px;
      margin-right: 20px;
      font-size: 16px;
      text-align: center;
      color: $colorText;
      display: block;
      @media (max-width: 767px) {
         margin-right: 0;
         padding: 10px;
         font-size: 18px;
      }
      @media (max-width: 545px) {
         display: none;
      }

      &-clock{
         font-size: 20px;
         @media (max-width: 378px) {
            font-size: 12px;
         }
         @media (max-width: 545px) {
            display: none;
         }
      }
   }
}
/*main*/

.main__wrapper {
   flex: 1 1 auto;
   @media (max-width: 767px) {
      margin-bottom: 30px;
   }
}

.board {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   column-gap: 27px;
   @media (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-row-gap: 35px;
      margin: 0 auto;
   }

   &__box {
      background-color: $colorBackgroundBoards;
      border-radius: 10px;
      padding: 13px;

      &-title {
         text-transform: capitalize;
         font-size: 22px;
         line-height: 26px;
         text-align: center;
         color: $colorText;
         margin-bottom: 20px;
         position: relative;
         @media (max-width: 1024px) {
            font-size: 20px;
            line-height: 22px;
         }
         @media (max-width: 845px) {
            font-size: 16px;
            line-height: 19px;
         }
         @media (max-width: 767px) {
            font-size: 25px;
            line-height: 28px;
         } 

         &::before {
            content: "";
            display: block;
            width: 80%;
            height: 2px;
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translate(-50%, 0);
            background-color: $colorWhite
         }
      }
      &-btn {
         width: 100%;
         padding:8px;
         background-color: rgba(255, 255, 255, 0.2);
         border: none;
         border-radius: 8px;
         color: $colorText;
         font-size: 18px;
      }
   }
}

/*footer*/

.footer{
   background-color: $colorBackgroundFotter;
   padding-top: 5px;

   &-items {
      display: flex;
      justify-content: center;
      @media (max-width: 767px) {
         flex-wrap: wrap;
         margin-bottom: 10px;
      }
   }

   &__team {
      display:flex;
      flex-basis: 11%;
      align-items: center;
      @media (max-width: 767px) {
         padding: 0 5px;
      }

      &-title {
         font-size: 16px;
         line-height: 20px;
         font-weight: 400;
         margin-left: 10px;
         color: $colorText;
         @media (max-width: 767px) {
            font-size: 18px;
         }
      }
      
      &-icon svg {
         width: 30px;
         height: 30px;
      }

      &-icon:hover path {
         fill: $colorBackgroundBody;
         color: $colorBackgroundBody;
      }
   }
}

//cards

.card {
   width: 100%;
   padding: 8px;
   border-radius: 10px;
   background-color: rgb(216, 244, 252);
   border: 1px solid rgb(109, 189, 211);
   margin-bottom: 10px;

   &.modal {
       width: 500px;
   }

   &__header {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-bottom: 20px;
   }

   &__priority {
       padding: 5px 15px;
       font-size: 12px;
       font-weight: 400;
       background-color: rgb(185, 0, 0);
       color: $colorWhite;
       border-radius: 6px;
       @media (max-width: 1024px) {
         margin-right: 5px;
      }
       @media (max-width: 767px) {
         font-size: 17px;
      }

       &:hover {
           cursor: pointer;
       }
   }

   &__edit {
       padding: 5px 15px;
       font-size: 12px;
       font-weight: 400;
       background-color: $colorBlack;
       color: $colorBlack;
       border-radius: 6px;
       border: none;
       @media (max-width: 1024px) {
         margin-right: 5px;
      }
       @media (max-width: 767px) {
         font-size: 17px;
         }

       &:hover {
           cursor: pointer;
       }

       &.modal {
          display: none;
       }
   }

   &__delete {
       border: none;
       background-color: transparent;

       &:hover {
           cursor: pointer;
       }

       &.modal {
           display: none;
       }
   }

   &__title {
       font-size: 16px;
       font-weight: 600;
       margin-bottom: 18px;
       @media (max-width: 767px) {
          font-size: 20px;
         }
   }

   &__footer {
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   &__user {
       width: 30px;
       height: 30px;
       border-radius: 50%; 
       background-color: $colorWhite;
       text-align: center;
       border: 1px solid #00000065;
   }

   &__confirmation {
       display: none;

       &.modal {
           display: block;
       }
   }

   &__cancel {
       padding: 5px 15px;
       font-size: 12px;
       font-weight: 400;
       background-color: $colorBlack;
       color: $colorWhite;
       border-radius: 6px;
       border: none;
       @media (max-width: 767px) {
         font-size: 17px;
         }

       &:hover {
           cursor: pointer;
       }
   }

   &__confirm {
       padding: 5px 15px;
       font-size: 12px;
       font-weight: 400;
       background-color: $colorBlack;
       color: $colorWhite;
       border-radius: 6px;
       border: none;
       @media (max-width: 767px) {
         font-size: 17px;
         }

       &:hover {
           cursor: pointer;
       }
   }

   &__description {
       display: none;

       &.modal {
           display: block;
           font-size: 16px;
           margin-bottom: 20px;
           min-height: 100px;
           width: 100%;
           border: 1px solid rgb(109, 189, 211);
           border-radius: 6px;
           background-color: #fffffff1;
           padding: 8px;
       }
   }
}