@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

$colorBackgroundBody: rgb(142,6,205);
$colorBackgroundFotter: rgba(0,0,0,0.6);
$colorBackgroundBoards: rgba(7,7,7,0.5);
$colorWhite: rgb(255,255,255);
$colorBlack: rgb(0,0,0);
$colorText: rgb(255,255,255);
$colorTextLightTheme: rgb(0,0,0);
$colorBackgroundFotterLightTheme:rgba(170,170,170,0.4);
$colorBackgroundBoardsLightTheme: rgba(255,255,255,0.6);

html,
body {
    height: 100vh;
    background-image: url('../media/bgmain.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.wrapper {
    height: 100vh;
    margin-left: 170px;
    display: flex;
    flex-direction: column;
    @media (max-width: 767px) {
        width: 100%;
    }
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


/*sidebar*/

.sidebar {
    position: fixed;
    width: 170px;
    padding:10px;
    height: 100vh;
    padding-top: 20px;
    background-color: $colorBackgroundFotter;
    @media (max-width: 767px) {
        padding-top: 25px;
        height: 100%;
    }
    a {
        text-decoration: none;
        color: $colorText;
        text-align: center;
    }
    &__title {
        display: block;
        color: $colorText;
        text-align: center;
        font-size: 22px;
        margin-bottom: 50px;
    }
    &__logo svg {
        width: 65px;
        height: 65px;
        margin: 0 auto 30px;
        display: block;
    }

    &__filter {
       padding: 10px;
       border-radius: 8px;
       border: 1px solid $colorWhite;
       margin-bottom: 30px;

       &-title{
          color: $colorText;
          text-align: center;
       }

       &-users{
          width: 100%;
          border-radius: 5px;
          cursor: pointer;

       }

       &-priority{
         width: 100%;
         border-radius: 5px;
         cursor: pointer;
      }

    }
}


/*header*/

.header {
    padding-top: 20px;
    margin-bottom: 30px;
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        border-radius: 10px;
    }
    &__title {
        font-size: 27px;
        line-height: 30px;
        color: $colorText;
        margin-bottom: 0;
        @media (max-width: 1024px) {
            font-size: 22px;
            line-height: 25px;
        }
        @media (max-width: 767px) {
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            padding: 0 10px;
        }
    }
    &__search {
        width: 60%;
        position: relative;
        @media (max-width: 1024px) {
            width: 40%;
        }
        @media (max-width: 767px) {
            width: 30%;
        }
        @media (max-width: 545px) {
            width: 40%;
        }
        @media (max-width: 1024px) {
            width: 50%;
        }
        &::before {
            position: absolute;
            display: block;
            content: url(../media/icon_search.svg);
            left: 13px;
            top: 14px;
            z-index: 1;
        }
    }
    &__input {
        width: 100%;
        cursor: pointer;
        padding: 10px 35px;
        border-radius: 10px;
        border: 1px solid $colorBlack;
        position: relative;
        &:focus {
            outline: auto;
        }
    }
    &__time {
        padding: 15px;
        font-size: 16px;
        text-align: center;
        color: $colorText;
        display: block;
        @media (max-width: 767px) {
            margin-right: 0;
            padding: 10px;
            font-size: 18px;
        }
        @media (max-width: 545px) {
            display: none;
        }
        &-clock{
           margin-bottom: 5px;
        }
        &-date{
         margin-bottom: 0;
      }

    }
}


/*main*/

.main__wrapper {
    flex: 1 1 auto;
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 27px;
    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-row-gap: 35px;
        margin: 0 auto;
    }
    &__box {
        background-color: $colorBackgroundBoards;
        border-radius: 10px;
        padding: 13px;
        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                position: absolute;
                top: 30px;
                left: 50%;
                transform: translate(-50%, 0);
                background-color: $colorWhite
            }
        }

        .board__tasks-list {
         height: 300px;
         overflow-y: scroll;
         scroll-behavior: smooth;
         &::-webkit-scrollbar {
            width:5px;
         }
         &::-webkit-scrollbar-track {
            background-color: rgb(77, 70, 70);
         }
         &::-webkit-scrollbar-thumb {
            background-color:rgb(204, 204, 204);
            border-radius: 10px;
            border:1px solid rgb(77, 70, 70);
         }
        }

        &-counter {
            text-transform: capitalize;
            font-size: 22px;
            line-height: 26px;
            text-align: center;
            color: $colorText;
            margin-bottom: 20px;
            @media (max-width: 1024px) {
                font-size: 20px;
                line-height: 22px;
            }
            @media (max-width: 845px) {
                font-size: 16px;
                line-height: 19px;
            }
            @media (max-width: 767px) {
                font-size: 25px;
                line-height: 28px;
            }
        }
        &-title {
            text-transform: capitalize;
            font-size: 22px;
            line-height: 26px;
            text-align: center;
            color: $colorText;
            margin-bottom: 20px;
            @media (max-width: 1024px) {
                font-size: 20px;
                line-height: 22px;
            }
            @media (max-width: 845px) {
                font-size: 16px;
                line-height: 19px;
            }
            @media (max-width: 767px) {
                font-size: 25px;
                line-height: 28px;
            }
        }
        &-btn {
            width: 100%;
            padding: 8px;
            background-color: rgba(255, 255, 255, 0.2);
            border: none;
            border-radius: 8px;
            color: $colorText;
            font-size: 18px;
            cursor: pointer;
            margin-bottom: 20px;
            &:hover {
                background-color: $colorBackgroundBody;
            }

            &.delete{
               position: relative;
               left: 0;
               bottom: 105px;
            }
        }
    }
}

.footer {
    background-color: $colorBackgroundFotter;
    padding: 10px 0;
    &-items {
        display: flex;
        justify-content: center;
        @media (max-width: 767px) {
            flex-wrap: wrap;
            margin-bottom: 10px;
        }
    }
    &__team {
        display: flex;
        flex-basis: 11%;
        align-items: center;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
        @media (max-width: 767px) {
            padding: 0 5px;
        }
        &-title {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            margin-left: 10px;
            color: $colorText;
            margin-bottom: 0;
            @media (max-width: 767px) {
                font-size: 18px;
            }
        }
        &-icon svg {
            width: 30px;
            height: 30px;
        }
        &-icon:hover path {
            fill: $colorBackgroundBody;
            color: $colorBackgroundBody;
        }
    }
}

//form
.form {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    background-color: rgba(248, 248, 248, 0.418);
    border: 1px solid $colorWhite;
    margin-top: auto;
    margin-bottom: 10px;
    display: none;
    &__textarea {
        font-size: 14px;
        resize: none;
        height: 60px;
        border-radius: 3px;
        border: none;
        background-color: rgba(248, 248, 248, 0.418);
        width: 100%;
        color: $colorText;
        padding: 10px;
        &::placeholder {
            color: $colorText;
            font-size: 14px;
        }
        &:focus {
            outline: none;
        }
    }
    &__btn {
        display: flex;
        padding-top: 5px;
        justify-content: center;
    }
    &__add-btn {
        max-width: 100px;
        width: 100%;
        padding: 6px 15px;
        font-size: 15px;
        font-weight: 400;
        background-color: #000000;
        color: #ffffff;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        text-align: center;
        margin-right: 20px;
    }
    &__cancel-btn {
        max-width: 100px;
        width: 100%;
        padding: 6px 15px;
        font-size: 15px;
        font-weight: 400;
        background-color: #b90000;
        color: #ffffff;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        text-align: center;
    }
}

//cards
.card {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    background-color: #f8f8f86b;
    border: 1px solid $colorWhite;
    margin-bottom: 10px;
    cursor: grab;
    transition: all 0.5s;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &__priority {
        padding: 5px 15px;
        font-size: 12px;
        font-weight: 400;
        background-color: #b90000;
        color: $colorWhite;
        border-radius: 6px;
        @media (max-width: 1024px) {
            margin-right: 5px;
        }
        @media (max-width: 767px) {
            font-size: 17px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    &__edit {
        padding: 5px 15px;
        font-size: 12px;
        font-weight: 400;
        background-color: $colorBlack;
        color: $colorText;
        border-radius: 6px;
        border: none;
        @media (max-width: 1024px) {
            margin-right: 5px;
        }
        @media (max-width: 767px) {
            font-size: 17px;
        }
        &:hover {
            cursor: pointer;
        }
        &.edit {
            display: block;
        }
    }
    &__delete {
        padding: 5px 15px;
        font-size: 12px;
        font-weight: 400;
        background-color: #b90000;
        color: #ffffff;
        border-radius: 6px;
        border: none;
        @media (max-width: 767px) {
            font-size: 17px;
        }
        &:hover {
            cursor: pointer;
        }
        &.edit {
            display: none;
        }
    }
    &__title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 18px;
        color: $colorText;
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__user-choice {
        cursor: pointer;
        border-radius: 6px;
    }
    &__confirmation {
        display: none;
    }
    &__cancel {
        padding: 5px 15px;
        font-size: 12px;
        font-weight: 400;
        background-color: $colorBlack;
        color: $colorWhite;
        border-radius: 6px;
        border: none;
        @media (max-width: 767px) {
            font-size: 17px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    &__confirm {
        padding: 5px 15px;
        font-size: 12px;
        width: calc((100% - 10px) / 2);
        font-weight: 400;
        background-color: $colorBlack;
        color: $colorWhite;
        border-radius: 6px;
        border: none;
        margin-right: 10px;

        @media (max-width: 767px) {
            font-size: 17px;
        }
        &:hover {
            cursor: pointer;
        }
        &.card__cancel {
           margin-right: 0;
        }
    }
    &__description {
        display: none;
        color: $colorText;
        margin-bottom: 30px;
        &.edit {
            display: block;
            font-size: 16px;
            margin-bottom: 20px;
            min-height: 100px;
            width: 100%;
            border: 1px solid rgb(109, 189, 211);
            border-radius: 6px;
            background-color: #fffffff1;
            padding: 8px;
        }
    }
}

.selected {
    opacity: 0.3;
}

.isMoved {
    background-color: antiquewhite;
}

.board__tasks-list {
    height: 100%;
}

.hide {
    display: none;
}

//switcher
.sidebar__switch {
    position: fixed;
    left: 0;
    bottom: 20px;
}

.switch {
    position: relative;
    left: 40px;
    display: inline-block;
    width: 70px;
    height: 34px;
    &::before {
        content: '\263C';
        position: absolute;
        top: 8px;
        right: -50px;
        margin-right: 30px;
        color: rgb(255, 238, 0);
    }
    &::after {
        content: '\263E';
        position: absolute;
        top: 8px;
        left: -20px;
        color: rgb(38, 0, 255);
    }
    &__input {
        opacity: 0;
    }
    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: all 0.4s linear;
        border-radius: 34px;
        border: 1px solid rgba(255, 238, 0, 0.6);
        &::before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: all 0.4s linear;
            border-radius: 50%;
        }
    }
}

.switch__input:checked+.switch__slider {
    background-color: $colorBlack;
}

.switch__input:checked+.switch__slider::before {
    transform: translateX(34px);
}

//light theme
body.light {
    background-image: url('../media/lightbg_2.jpeg');
    .sidebar {
        background-color: $colorBackgroundFotterLightTheme;
        a {
            color: $colorTextLightTheme;
        }
        &__title {
            color: $colorTextLightTheme;
        }
        &__add {
            background-color: $colorBlack;
            color: $colorWhite;
        }
        &__filter{
           border: 1px solid $colorTextLightTheme;
        }
        &__filter-title {
           color: $colorTextLightTheme;
        }
    }
    .header {
        &__title {
            color: $colorTextLightTheme;
        }
        &__time {
            color: $colorTextLightTheme;
        }
    }
    .board {
        &__box {
            background-color: $colorBackgroundBoardsLightTheme;
            &-title {
                color: $colorTextLightTheme;
            }
                &-item::before {
                    background-color: $colorBlack;
                }
            &-btn {
                background-color: rgba(0, 0, 0, 0.2);
                border: 1px solid white;
                color: $colorTextLightTheme;
            }
            &-counter {
               font-weight: 600;
            }
        }
    }
    .footer {
        background-color: $colorBackgroundFotterLightTheme;
        &__team-title {
            color: $colorTextLightTheme;
            font-weight: 600;
        }
    }
    .board__box-counter {
       color: $colorTextLightTheme;
    }
    .card__title{
       color: $colorTextLightTheme;
    }
    .card {
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
    .form {
      border: 1px solid rgba(0, 0, 0, 0.5);
      background-color: $colorBackgroundFotterLightTheme;
    }
    .form__textarea {
       color: $colorTextLightTheme;
    }
    .form__textarea::placeholder {
      color: $colorTextLightTheme;
   }
}

.btn-close {
   cursor: pointer;
}

.board__box-btn.delete {
   bottom: 15px;
}

//modal window edit

.modalWrapper-edit {
   display: block; 
   position: fixed; 
   z-index: 1; 
   padding-top: 100px; 
   left: 0;
   top: 0;
   width: 100%;
   height: 100%; 
   overflow: auto; 
   background-color: rgba(0, 0, 0, 0.7);
}
.card-edit {
   position: relative;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 500px;
   padding: 8px;
   border-radius: 10px;
   background-color: #f8f8f86b;
   border: 1px solid $colorWhite;
   margin-bottom: 10px;
   transition: all 0.5s;

   &__description {
      display: block;
      font-size: 16px;
      margin-bottom: 20px;
      min-height: 100px;
      width: 100%;
      border: 1px solid $colorWhite;
      border-radius: 6px;
      background-color: #fffffff1;
      padding: 8px;
   }

   &__confirmation {
      display: block;
      font-size: 16px;
      border-radius: 6px;
      padding: 8px;
   }
}